.portfolio_container {
  padding: 50px 90px 70px 90px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background: rgb(221, 221, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio_container h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio_container p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

.portfolio_wrapper {
  display: flex;
  gap: 10px;
}

.portfolio_item:hover {
  transform: scale(0.7);
}

@media screen and (max-width: 1024px) {
  .portfolio_wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .portfolio_container h1 {
    font-size: 35px;
  }

  .portfolio_container p {
    font-size: 18px;
  }
}

@media screen and (max-width: 668px) {
  .portfolio_container {
    padding: 50px 50px 70px 50px;
  }

  .portfolio_container h1 {
    font-size: 30px;
  }

  .portfolio_container p {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio_container {
    padding: 50px 25px 70px 25px;
  }

  .portfolio_container h1 {
    font-size: 25px;
  }

  .portfolio_container p {
    font-size: 14px;
  }
}
